# Python cache
__pycache__/
*.pyc
data.txt
# Build artifacts
build/
dist/
*.spec
nato_phonetic_alphabet
squirrel_count
Squirrel_Data
weather_data
tomato.png
data.txt
data.json
logo.png
.gitignore
data/
images/
Practice/
letter_templates/
birthdays.csv
test.py